.projects-btn{
    color: wheat;
}

.projects-btn:hover{
    color: black;
    background-color: wheat;
}

.redmi-btn {
    color: cyan;
}

.redmi-btn:hover{
    color: black;
    background-color: cyan;
}

.witryny-btn {
    color: red;
}

.witryny-btn:hover{
    color: white;
    background-color: red;
}

.about-btn {
    color: greenyellow;
}

.about-btn:hover {
    color: black;
    background-color: greenyellow;
}

.home-btn {
    color: green;
}

.home-btn:hover {
    color: white;
    background-color: green;
}

#links a {
    display: inline;
}

#skills p {
    font-size: 1.3em;
}

.skill-node {
    padding-left: 10px;
    display: block;
}

.skill-node2 {
    padding-left: 15px;
    display: block;
}

.skill-csharp {
    color: green;
}

.skill-nodejs {
    color: yellow;
}

.skill-lua {
    color: lightblue;
}

.skill-java {
    color: orange;
}

.latest-btn {
    color: plum;
    display: inline;
}

.latest-btn:hover {
    color: black;
    background-color: plum;
}

.skill-learning {
    color: gray;
}

.skill-linux {
    color: white;
}

.linkedin-btn {
    color: magenta;
}

.linkedin-btn:hover {
    color: black;
    background-color: magenta;
}
