body, html {
    overflow-x: hidden;
    background-color: black;
    color: white;
    font-family: monospace;
    font-size: 1em;
}

div.row {
    margin: 10px;
}

a {
    text-decoration: none;
    color: whitesmoke;
    text-align: left;
}

a:hover {
    text-decoration: none;
    color: gray;
}

.post-node {
    margin-left: 5px;
    margin-bottom: 10px;
}

.right-bar {
    margin: 0 auto;
}

hr {
	border-top: 4px solid white;
}

.header {
    display: inline;
    color: wheat;
}

.header:hover {
    background-color: wheat;
    color: black;
}

.inproj-btn {
    display: inline-flex;
    color: gold;
}

.inproj-btn:hover {
    color: black;
    background-color: gold;
}

.post-node p {
    padding: 0;
    margin: 0;
    font-size: 1.2em;
    color: antiquewhite;
}

.img {
    display: block;
}

.redmi-date {
    color: lightblue;
}

.rom-name {
    color: red;
    text-transform: uppercase;
}

@media only screen and (min-width: 800px) {
    #index  {
        position: fixed;
        text-align: left !important;
        height: 100%;
    }

    a {
        display: block;
    }
}
