/* line 1, l7ssha.sass */
body {
  min-height: 75rem;
  overflow-x: hidden;
}

/* line 5, l7ssha.sass */
#android {
  background-color: yellow;
}

/* line 8, l7ssha.sass */
#confkr {
  background-color: lightgreen;
}

/* line 11, l7ssha.sass */
.bg-image {
  background-image: url("../deps/img/1.png");
  color: white;
}
