<div class="container">
    <div class="jumbotron bg-image">
      <h1><i class="fa fa-diamond" aria-hidden="true"></i> {{title}}</h1>
      <h4>{{motd}}</h4>
    </div>
</div>

<main class="container">
  <section *ngFor="let sect of sections" class="row">
    <div class="col-lg-4 col-sm-12 sectionhref">
      <h2 style="padding-left: 10px"><a routerLink="{{sect.href}}">{{sect.title}}</a></h2>
    </div>
    <div class="col-lg-8 col-sm-12 text-center"><p><b>{{sect.desc}}</b></p></div>
  </section>
</main>
