<!DOCTYPE html>
<html>
    <title>l7ssha Dev</title>
    <meta charset="UTF-8">
    <meta author="Szymon l7ssha Uglis">
    <meta tags="l7ssha, android, AICP, resurrection, config, ConfKr, C#, .NET">

    <link rel="icon" href="assets/img/favicon.ico">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
    <script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
<body id="#">
<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse mb-4">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" routerLink="/">{{title}}</a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"> <a class="nav-link" routerLink="/projects">Projects</a> </li>
            <li class="nav-item"> <a class="nav-link" routerLink="/cpp">C++ Projects</a> </li>>
            <li class="nav-item"> <a class="nav-link" routerLink="/roms">Redmi Note 2</a> </li>
            <li class="nav-item"> <a class="nav-link" routerLink="/about">About Me</a> </li>
        </ul>
        
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="btn-social btn-outline" href="http://facebook.com/szymek.uglis" target="_blank"><i class="fa fa-fw fa-comment"></i></a>
            </li>
            <li class="nav-item">
                <a class="btn-social btn-outline" href="http://steamcommunity.com/id/l7ssha" target="_blank"><i class="fa fa-steam"></i></a>
            </li>
            <li class="nav-item">
                <a class="btn-social btn-outline" routerLink="/" target="_blank"><i class="fa fa-fw fa-youtube-play"></i></a>
            </li>
            <li class="nav-item">
                <a class="btn-social btn-outline" href="https://github.com/l7ssha" target="_blank"><i class="fa fa-fw fa-github"></i></a>
            </li>
        </ul>
    </div>
</nav>

<router-outlet></router-outlet>
</body>
</html>
