<!DOCTYPE html>
<html>
    <title>l7ssha Dev</title>
    <meta charset="UTF-8">
    <meta author="Szymon 'l7ssha' Uglis">
    <meta tags="l7ssha, android, AICP, resurrection, config, ConfKr, C#, .NET">

    <meta property="og:site_name" content="l7ssha Dev">
    <meta property="og:title" content="l7ssha Dev">
    <meta property="og:description" content="l7ssha Dev - website about programming.">
    <meta property="og:image" content="https://avatars1.githubusercontent.com/u/23033957?s=460&v=4">
    <meta property="og:image:width" content="600">
    <meta property="og:image:height" content="600">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://l7ssha.pl/">

    <link rel="icon" href="assets/img/favicon.ico">
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" routerLink="/">{{title}}</a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"> <a class="nav-link" routerLink="/projects">Projects</a> </li>
            <li class="nav-item"> <a class="nav-link" routerLink="/roms">Redmi Note 2</a> </li>
            <li class="nav-item"> <a class="nav-link" routerLink="/about">About Me</a> </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">  Witryny </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="https://github.com/l7ssha/LEKCJEHTML">Repozytorium</a>
                  <a class="dropdown-item" href="https://sites.google.com/view/technik-informatyk/">Stronka</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<a href="https://github.com/l7ssha/l7ssha.github.io"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>

<router-outlet></router-outlet>
</body>
</html>
